* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
}
.nav-item a {
  color: #d5fdda;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-item a:hover {
  color: #fd2549;
}
.main-contain {
  display: flex;
  flex-wrap: wrap;
  background-image: url("./../assets/img/bg-center.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section {
  width: 46%;
  margin: 10px 2%;
  padding: 20px;
}
.section-foto {
  width: 46%;
  margin: 0 2%;
}
.bg-edu {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 30px 0 30px 0;
  background-color: rgb(255, 236, 213);
}
.bg-work {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0 30px 0 0;
  background-color: rgb(255, 249, 223);
}
.bg-cont {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0 0 30px 0;
  background-color: rgb(235, 253, 231);
}
.bg-ski {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0 30px 0 30px;
  background-color: rgb(255, 249, 223);
}
.bg-pro {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 30px 0 30px 0;
  background-color: rgb(255, 232, 247);
}
.bg-code {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0 30px 0 0;
  background-color: rgb(235, 253, 231);
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.img-ava {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 30px 0 30px 0;
  width: 300px;
}
.profile {
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
}
h1 {
  font-size: 50px;
  margin: 0.5em 0 0.1em 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.subtitle {
  position: relative;
}
.subtitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0%;
  width: 50px;
  height: 2px;
  background-color: #000000;
}
.paragraphe {
  padding-top: 10px;
}
.contacts-item {
  font-weight: 700;
}
.section ul {
  padding-top: 10px;
}
.section li {
  line-height: 1.5em;
}
.footer-cont img {
  width: 120px;
}
.footer-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./../assets/img/bg-bot.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header-cont {
  background-image: url("./../assets/img/bg-top.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer-cont a {
  color: #000000;
  text-decoration: none;
  transition: color 0.5s;
  font-weight: 500;
}
.footer-cont a:hover {
  color: #fd2549;
}
.bg-cont a,
.bg-pro a {
  color: #3a0ff8;
  text-decoration: none;
  transition: color 0.5s;
}
.bg-cont a:hover,
.bg-pro a:hover {
  color: #fd2549;
}
